In [1]:
import pandas as pd
from sqlalchemy import create_engine
from selenium import webdriver
from utils import load_db_parameters, load_df_to_database

### 1. Initilialize web driver

In [ ]:
DRIVER_PATH = "C:/Users/david/Documents/03_Repositories/chromedriver.exe"
driver = webdriver.Chrome(executable_path=DRIVER_PATH)

### 2. Receive county information

In [ ]:
db_uri = "postgres+psycopg2://postgres:dW49t8@0DPA2@localhost:5432/stuttgart_25pct_calibration"
engine = create_engine(db_uri, echo=False)

In [ ]:
query = f'''
        SELECT AGS, GEN FROM RAW.GEMEINDEN
            WHERE AGS LIKE '08115%%' OR AGS LIKE '08116%%'
        ORDER BY AGS;
            '''
print(query)

In [ ]:
df_counties = pd.read_sql(query, engine)
df_counties.head(3)

### 3. Extract data from statistisches landesamt

In [ ]:
def extract_data(ags):
    link = "https://www.statistik-bw.de/BevoelkGebiet/Alter/01035810.tab?R=GS" + ags[2:]
    driver.get(link)

    # Sum up residents of until age of 14
    res_up_to_14 = 0

    for age in range (1, 16):
        res = int(driver.find_element_by_xpath('/html/body/main/section/figure/table/tbody/tr[{age}]/td[7]'.format(age=age)).text.replace(".",""))
        res_up_to_14 = res_up_to_14 + res

    res_total = int(driver.find_element_by_xpath('/html/body/main/section/figure/table/tbody/tr[92]/td[7]').text.replace(".",""))

    return {'ags': ags, 'res_up_to_14': res_up_to_14, 'res_total': res_total, 'res_from_14': res_total-res_up_to_14}

In [ ]:
df = list()

for index, row in df_counties.iterrows():
    df.append(extract_data(row['ags']))
       
df = pd.DataFrame(df)
df

In [ ]:
df = df.merge(df_counties, on='ags')
df.to_csv("residents_by_age.csv")

In [6]:
df = pd.read_csv("residents_by_age.csv", dtype={'ags': str})
df

,id,ags,res_up_to_14,res_total,res_from_14,gen
0,0,08115001,1270,9003,7733,Aidlingen
1,1,08115002,763,4662,3899,Altdorf
2,2,08115003,7678,50161,42483,Böblingen
3,3,08115004,933,6072,5139,Bondorf
4,4,08115010,503,3328,2825,Deckenpfronn
...,...,...,...,...,...,...
65,65,08116077,6340,46083,39743,Filderstadt
66,66,08116078,5652,40165,34513,Leinfelden-Echterdingen
67,67,08116079,1135,8252,7117,Lenningen
68,68,08116080,6057,39312,33255,Ostfildern
69,69,08116081,1419,9893,8474,Aichtal

### 4. Upload

In [7]:
db_parameter = "C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/03_analysis/01_calibration/db_param_25pct.json"
db_parameter = load_db_parameters(db_parameter)

2021-04-30 17:24:06,652 - INFO: Fetch db_parameter...

In [8]:
# -- IMPORT --
table_name = 'boebl_essl_ew'
table_schema = 'raw'

DATA_METADATA = {
    'title': 'Anzahl Einwohner Boeblingen und Esslingen',
    'description': 'Unterteilung zwischen bis 14 und über 14 Jahre',
    'source_name': 'Landesamt für Statistik Baden Württemberg',
    'source_url': 'Nan',
    'source_year': '2019',
    'source_download_date': 'Nan',
}

load_df_to_database(
    df=df,
    update_mode='append',
    db_parameter=db_parameter,
    schema=table_schema,
    table_name=table_name,
    meta_data=DATA_METADATA)

2021-04-30 17:24:07,335 - INFO: Import data to database...
2021-04-30 17:24:07,336 - INFO: Checking meta data inputs
2021-04-30 17:24:07,337 - INFO: Uploading to database
2021-04-30 17:24:07,519 - INFO: Table metadata:
        COMMENT ON TABLE raw.boebl_essl_ew IS
        '
        ####################
        # Meta information #
        ####################
            title: Anzahl Einwohner Boeblingen und Esslingen,
            description: Unterteilung zwischen bis 14 und über 14 Jahre,
            source_name: Landesamt für Statistik Baden Württemberg,
            source_url: Nan,
            source_year: 2019,
            source_download_date: Nan'

2021-04-30 17:24:07,519 - INFO: Writing metadata to table comments
2021-04-30 17:24:07,550 - INFO: Table import done!