## PART 1

In [ ]:
from analysis.sim_import import parse_trips_file, parse_legs_file
from analysis.utils import load_df_to_database, load_db_parameters

In [ ]:
import pandas as pd
import geopandas as gpd

In [ ]:
trips = 'Y:/stuttgart-v1.0/05_stuttgart-v1.0_scenariotest/output/output-m5_2/m5_2.output_trips.csv.gz'
db_parameter = 'C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/03_analysis/01_calibration/db_param_10pct.json'
db_parameter = load_db_parameters(db_parameter)

In [ ]:
gdf = parse_trips_file(trips)

In [ ]:
gdf.head(3)

In [ ]:
gdf.loc[1144]

In [ ]:
sample = gdf.sample(n=3)
sample

In [ ]:
table_name = 'sim_trips_raw'
table_schema = 'matsim_output'

DATA_METADATA = {
    'title': 'Trips',
    'description': 'Trip table',
    'source_name': 'Senozon Input',
    'source_url': 'Nan',
    'source_year': '2020',
    'source_download_date': 'Nan',
}

In [ ]:
load_df_to_database(
    df=sample,
    update_mode='append',
    db_parameter=db_parameter,
    schema=table_schema,
    table_name=table_name,
    meta_data=DATA_METADATA,
    geom_cols={'geometry': 'LINESTRING'})

## PART 2

In [ ]:
import pandas as pd

In [ ]:
calib = 'C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/01_prep/05_CalibrationData/Calibration_Data_v2.xlsx'
table = pd.read_excel(calib, sheet_name='05_OEVSegmente', skipfooter=10)

In [ ]:
table

## PART 3

In [ ]:
import pandas as pd
import geopandas as gpd
from matsim import read_network

In [ ]:
network = 'C:/Users/david/Desktop/bc.output_network.xml.gz'

In [ ]:
network = read_network(network, True)
gdf_network = network.as_geo()
gdf_network = gdf_network.set_crs(epsg=25832)

In [ ]:
network.link_attrs

In [ ]:
gdf_network.head(3)

## PART 4

In [ ]:
import pandas as pd
import geopandas as gpd

In [ ]:
network = "C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/02_runs/stuttgart-v1.0/05_stuttgart-v1.0_scenariotest/output/output-m5_1/network-shp/m5_1.network.shp"
gdf = gpd.read_file(network)

In [ ]:
gdf.head(3)

In [ ]:
gdf.crs

## PART 5

In [ ]:
import xml.etree.ElementTree as ET
import gzip
import pandas as pd
import shapely as shp
import geopandas as gpd

In [ ]:
tSFile = "C:/Users/david/Desktop/m5_ex.output_transitSchedule.xml.gz"

In [ ]:
transitStops = list()

try:
    with gzip.open(tSFile) as f:
        tree = ET.parse(f)
        root = tree.getroot()
        
        for tSF in root.find('./transitStops'):
               
        transitStops.append({
            "id": tSF.attrib['id'],
            "x": tSF.attrib['x'],
            "y": tSF.attrib['y'],
            "link_ref_id": tSF.attrib['linkRefId'],
            "name": tSF.attrib['name'],
            "is_blocking": tSF.attrib['isBlocking'],
            "vvs_bike_ride": tSF.find('./attributes/attribute[@name="VVSBikeAndRide"]').text
                  
            })
                
            
except OSError as e:
    raise Exception(e.strerror)
    
transitStops = pd.DataFrame(transitStops)

In [ ]:
transitStops = gpd.GeoDataFrame(transitStops, geometry=gpd.points_from_xy(transitStops.x, transitStops.y))

## PART 6

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matsim

In [2]:
plans_str = "C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/02_runs/stuttgart-v1.0/01_stuttgart-v1.0_fstRun01/input/stuttgart-v1.0-10pct.plans.xml.gz"

In [3]:
activities = list()

time = lambda act, key: act.attrib[key] if key in act.attrib else np.nan


plans = matsim.plan_reader(plans_str, selectedPlansOnly=True)
for person, plan in plans:
    
    acts = list(filter(lambda e: e.tag == 'activity',
                        plan))
    
    for x in range(len(acts)):
        activities.append({
            'peson_id': person.attrib['id'],
            'act_no': x+1,
            'act_type': acts[x].attrib['type'],
            'start_time': time(acts[x], 'start_time'),
            'end_time': time(acts[x], 'end_time'),
            'x': acts[x].attrib['x'],
            'y': acts[x].attrib['y']   
        })
        
activities = pd.DataFrame(activities)

In [7]:
activities['x'] = activities['x'].apply(float)
activities['y'] = activities['x'].apply(float)

In [9]:
activities.dtypes

peson_id       object
act_no          int64
act_type       object
start_time     object
end_time       object
x             float64
y             float64
dtype: object

In [8]:
activities.head(3)

,peson_id,act_no,act_type,start_time,end_time,x,y
0,67166005_456,1,home_29400.0,00:00:00,08:13:07,460260.397858,460260.397858
1,67166005_456,2,errands_2400.0,09:47:28,10:28:04,513539.136964,513539.136964
2,67166005_456,3,errands_48600.0,10:31:51,NaN,513043.995492,513043.995492

In [12]:
activities = gpd.GeoDataFrame(
    activities, geometry=gpd.points_from_xy(activities.x, activities.y))

In [15]:
activities = activities.set_crs(25832)

In [16]:
activities.head(3)

,peson_id,act_no,act_type,start_time,end_time,x,y,geometry
0,67166005_456,1,home_29400.0,00:00:00,08:13:07,460260.397858,460260.397858,POINT (460260.398 460260.398)
1,67166005_456,2,errands_2400.0,09:47:28,10:28:04,513539.136964,513539.136964,POINT (513539.137 513539.137)
2,67166005_456,3,errands_48600.0,10:31:51,NaN,513043.995492,513043.995492,POINT (513043.995 513043.995)

## PART 7

In [1]:
import pandas as pd
import geopandas as gpd
from analysis.utils import load_df_to_database, load_db_parameters
import xml.etree.ElementTree as ET

In [2]:
config_param = "C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/02_runs/stuttgart-v1.0/05_stuttgart-v1.0_scenariotest/stuttgart-v1.0-0.001pct.config_bc.xml"

In [3]:
tree = ET.parse(config_param)
root = tree.getroot()

df = list()

for teleported_mode_param in root.findall("./module[@name='planscalcroute']/parameterset[@type='teleportedModeParameters']"):
    
    if not(teleported_mode_param.find("./param[@value='bike']") == None):
        
        mode_speed = teleported_mode_param.find("./param[@name='teleportedModeSpeed']")
        df.append({'run_name': 'test', 'speed_value': mode_speed.attrib.get("value")})
        
df = pd.DataFrame(df)

In [4]:
df

  run_name speed_value
0     test   4.0579732

In [4]:
df_modeParameters

,constant,dailyMonetaryConstant,dailyUtilityConstant,marginalUtilityOfDistance_util_m,marginalUtilityOfTraveling_util_hr,mode,monetaryDistanceRate,run_name
0,-2.0,-5.3,0.0,0.0,0.0,car,-2.0E-4,test
1,-4.0,0.0,0.0,0.0,-4.5,ride,-2.0E-4,test
2,-1.2,0.0,0.0,0.0,-5.7,pt,0.0,test
3,-2.7,-0.5,0.0,0.0,-6.5,bike,0.0,test
4,0.0,0.0,0.0,0.0,-1.7,walk,0.0,test

In [ ]:
for teleportedModeParams in root.findall("./module[@name='planscalcroute']/parameterset[@type='teleportedModeParameters']"):
    
    if teleportedModeParams.find("./param[@mode='bike']") == 
    
    
    row = dict()
    for node in modeParameters:
        row[node.attrib.get("name")] = node.attrib.get("value")
    df_modeParameters.append(row)
df_modeParameters = pd.DataFrame(df_modeParameters)
df_modeParameters['run_name'] = 'test'