## PART 1

In [ ]:
from analysis.sim_import import parse_trips_file, parse_legs_file
from analysis.utils import load_df_to_database, load_db_parameters

In [ ]:
import pandas as pd
import geopandas as gpd

In [ ]:
trips = 'Y:/stuttgart-v1.0/05_stuttgart-v1.0_scenariotest/output/output-m5_2/m5_2.output_trips.csv.gz'
db_parameter = 'C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/03_analysis/01_calibration/db_param_10pct.json'
db_parameter = load_db_parameters(db_parameter)

In [ ]:
gdf = parse_trips_file(trips)

In [ ]:
gdf.head(3)

In [ ]:
gdf.loc[1144]

In [ ]:
sample = gdf.sample(n=3)
sample

In [ ]:
table_name = 'sim_trips_raw'
table_schema = 'matsim_output'

DATA_METADATA = {
    'title': 'Trips',
    'description': 'Trip table',
    'source_name': 'Senozon Input',
    'source_url': 'Nan',
    'source_year': '2020',
    'source_download_date': 'Nan',
}

In [ ]:
load_df_to_database(
    df=sample,
    update_mode='append',
    db_parameter=db_parameter,
    schema=table_schema,
    table_name=table_name,
    meta_data=DATA_METADATA,
    geom_cols={'geometry': 'LINESTRING'})

## PART 2

In [ ]:
import pandas as pd

In [ ]:
calib = 'C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/01_prep/05_CalibrationData/Calibration_Data_v2.xlsx'
table = pd.read_excel(calib, sheet_name='05_OEVSegmente', skipfooter=10)

In [ ]:
table

## PART 3

In [1]:
import pandas as pd
import geopandas as gpd
from matsim import read_network

In [2]:
network = 'C:/Users/david/Desktop/bc.output_network.xml.gz'

In [3]:
network = read_network(network, True)
gdf_network = network.as_geo()
gdf_network = gdf_network.set_crs(epsg=25832)

In [8]:
network.link_attrs

Empty DataFrame
Columns: []
Index: []

In [ ]:
gdf_network.head(3)

## PART 4

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
network = "C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/02_runs/stuttgart-v1.0/05_stuttgart-v1.0_scenariotest/output/output-m5_1/network-shp/m5_1.network.shp"
gdf = gpd.read_file(network)

In [4]:
gdf.head(3)

,Id,Length,capacity,lanes,Freespeed,Modes,zone_name,zone_group,h_costs,dmax_costs,max_time,penalty,res_costs,geometry
0,10000014,50.53,1200.0,2.0,9.47,"car,ride,walk,bike",None,None,0.0,0.0,30.0,0.0,0.0,"LINESTRING (477508.123 5466441.289, 477459.281..."
1,10000015,61.02,1200.0,2.0,9.56,"car,ride,walk,bike",None,None,0.0,0.0,30.0,0.0,0.0,"LINESTRING (477508.123 5466441.289, 477557.847..."
2,10000026,61.02,1200.0,2.0,9.52,"car,ride,walk,bike",None,None,0.0,0.0,30.0,0.0,0.0,"LINESTRING (477557.847 5466406.321, 477508.123..."

In [5]:
gdf.crs

<Projected CRS: EPSG:25832>
Name: ETRS89 / UTM zone 32N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Europe - 6°E to 12°E and ETRS89 by country
- bounds: (6.0, 38.76, 12.0, 83.92)
Coordinate Operation:
- name: UTM zone 32N
- method: Transverse Mercator
Datum: European Terrestrial Reference System 1989
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich