In [1]:
import pandas as pd
from sqlalchemy import create_engine
from selenium import webdriver

### 1. Initilialize web driver

In [2]:
DRIVER_PATH = "C:/Users/david/Documents/03_Repositories/chromedriver.exe"
driver = webdriver.Chrome(executable_path=DRIVER_PATH)

### 2. Receive county information

In [3]:
db_uri = "postgres+psycopg2://postgres:dW49t8@0DPA2@localhost:5432/stuttgart_25pct_calibration"
engine = create_engine(db_uri, echo=False)

In [4]:
query = f'''
        SELECT AGS, GEN FROM RAW.GEMEINDEN
            WHERE AGS LIKE '08115%%' OR AGS LIKE '08116%%'
        ORDER BY AGS;
            '''
print(query)

        SELECT AGS, GEN FROM RAW.GEMEINDEN
            WHERE AGS LIKE '08115%%' OR AGS LIKE '08116%%'
        ORDER BY AGS;

In [5]:
df_counties = pd.read_sql(query, engine)
df_counties.head(3)

        ags        gen
0  08115001  Aidlingen
1  08115002    Altdorf
2  08115003  Böblingen

### 3. Extract data from statistisches landesamt

In [6]:
def extract_data(ags):
    link = "https://www.statistik-bw.de/BevoelkGebiet/Alter/01035810.tab?R=GS" + ags[2:]
    driver.get(link)

    # Sum up residents of until age of 14
    res_up_to_14 = 0

    for age in range (1, 16):
        res = int(driver.find_element_by_xpath('/html/body/main/section/figure/table/tbody/tr[{age}]/td[7]'.format(age=age)).text.replace(".",""))
        res_up_to_14 = res_up_to_14 + res

    res_total = int(driver.find_element_by_xpath('/html/body/main/section/figure/table/tbody/tr[92]/td[7]').text.replace(".",""))

    return {'ags': ags, 'res_up_to_14': res_up_to_14, 'res_total': res_total, 'res_from_14': res_total-res_up_to_14}

In [7]:
df = list()

for index, row in df_counties.iterrows():
    df.append(extract_data(row['ags']))
       
df = pd.DataFrame(df)
df

         ags  res_up_to_14  res_total  res_from_14
0   08115001          1270       9003         7733
1   08115002           763       4662         3899
2   08115003          7678      50161        42483
3   08115004           933       6072         5139
4   08115010           503       3328         2825
..       ...           ...        ...          ...
65  08116077          6340      46083        39743
66  08116078          5652      40165        34513
67  08116079          1135       8252         7117
68  08116080          6057      39312        33255
69  08116081          1419       9893         8474

[70 rows x 4 columns]

In [9]:
df = df.merge(df_counties, on='ags')
df.to_csv("residents_by_age.csv")